<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seaco.seaconeuropsych" android:versionCode="1" android:versionName="1.00">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Intro"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".prospective_initial"
            android:label="@string/title_activity_prospective_initial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".pair_intro"
            android:label="@string/title_activity_pair_intro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".prospective_end"
            android:label="@string/title_activity_prospective_end"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".prospective_result"
            android:label="@string/title_activity_prospective_result"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".pair_level1"
            android:label="@string/title_activity_pair_level1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".pair_level2"
            android:label="@string/title_activity_pair_level2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".fluid_main"
            android:label="@string/title_activity_fluid_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".reaction_main"
            android:label="@string/title_activity_reaction_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".NumericStart"
            android:label="@string/title_activity_numeric_start"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".NumericMainActivity"
            android:label="@string/title_activity_numeric_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".NumericMainInput"
            android:label="@string/title_activity_numeric_main_input"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".NumericEndReport"
            android:label="@string/title_activity_numeric_end_report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".EndBranch"
            android:label="@string/title_activity_end_branch"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".EndActivity"
            android:label="@string/title_activity_end"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".Lights_main"
            android:label="@string/title_activity_lights_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".reaction_intro"
            android:label="@string/title_activity_reaction_intro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>

        <activity
            android:name=".LightsIntro"
            android:label="@string/title_activity_lights_intro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >>
        </activity>
    </application>

</manifest>
